<?xml version="1.0" encoding="UTF-8"?>
<org.eclipse.emf.emfstore.internal.server.model:ServerSpace xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:org.eclipse.emf.emfstore.internal.server.model="http://eclipse.org/emf/emfstore/server/model" xmlns:org.eclipse.emf.emfstore.internal.server.model.accesscontrol.roles="http://eclipse.org/emf/emfstore/server/model/roles" projects="projects/_AeXe8PcpEeWnk-MlMuAN6w/projecthistory#/">
  <users identifier="_ASSKwfcpEeWnk-MlMuAN6w" name="super" description="default server admin (superuser)" firstName="super" lastName="user">
    <roles xsi:type="org.eclipse.emf.emfstore.internal.server.model.accesscontrol.roles:ServerAdmin"/>
  </users>
</org.eclipse.emf.emfstore.internal.server.model:ServerSpace>
