<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.common.uiRunnableContext">
      <provider
            class="org.eclipse.emf.emfstore.internal.client.ui.transaction.PrivilegedRunnableProvider">
      </provider>
   </extension>

</plugin>
