<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="EMFStore" sequenceNumber="226">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.view.categorization.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.treemasterdetail.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.label.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.model.controls.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.custom.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.emfstore.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.demo.e3.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.e4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.viewmodel.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.e3.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.cdo.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.rule.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.template.helper.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.workspace.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.table.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.model.editor.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.unset.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.validation.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.groupedgrid.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.ecore.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.separator.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.vertical.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.group.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.horizontal.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.template.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.demo.e4.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_12"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j.source" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.hamcrest.library.source" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.mongo.emf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipselabs.mongo.emf.feature.source.feature.group" version="0.0.0"/>
<repository location="http://bryanhunt.github.com/mongo-emf/releases/0.7.1"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.0/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="0.0.0"/>
<unit id="javax.annotation" version="0.0.0"/>
<unit id="javax.annotation.source" version="0.0.0"/>
<unit id="com.google.guava.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20151221205849/repository/"/>
</location>
</locations>
</target>
