<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="example"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.emf.emfstore.example.helloworld.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.server.accessControl">
      <authorizationServiceProvider
            authorizationServiceClass="Auth">
      </authorizationServiceProvider>
      <userVerifierServiceProvider
            userVerifierServiceClass="UserVerifier">
      </userVerifierServiceProvider>
      <orgUnitProvider
            orgUnitProviderClass="asdf">
      </orgUnitProvider>
      <orgUnitResolverServiceProvider
            orgUnitServiceClass="ga">
      </orgUnitResolverServiceProvider>
   </extension>
</plugin>
